﻿body  {
background: #FFF5EE;
margin: 0;
}

#container { 
width: 96%;
max-width:780px;
margin: 0 auto;
background-image:url('2.jpg');
}
.css-adaptive{
	display: block;
	max-width:100%;
	height: auto;
}

#yakarta {
	min-width: 100px;
	width: 100%;
}

.map_marina {
	min-width: 100px;
	max-width: 100%;
	height:auto;
}

#header { 
padding: 45px 0 20px 40px;
display:flex;
justify-content: space-between;
align-items: center;
} 
@media(max-width:1000px){
	header{
		flex-direction:column;
		align-items: flex-start;
	}
}
#header a {
color: #800080;
text-decoration: none;
font-size: 40px; 
font-family:"Myriad Pro", "Freestyle Script";
}

#menu {
background-color: #BC8F8F; 
padding: 6px 0 6px 40px;
}

#menu a {
color: #000000;
text-decoration: none; 
font-size: 14px; 
font-family: "Times New Roman", "Myriad Pro";
}

#menu a:hover {
color: #000000;
}

#sidebar {
float: left;
width: 120px;
padding: 30px 0 0 40px;
margin: 0;
}

h1 {
margin: 0px;
color: #800000; 
font-size:24px; 
font-family: "Times New Roman", "Myriad Pro"; 
font-weight: normal;
}

h2 {
color: #800000;
font-size: 20px; 
margin: 20px 0 5px 0;
}

#main { 
margin: 0 0 0 180px;
padding: 35px 40px 30px 0;
color: #000000;
font-family: "Times New Roman";
font-size: 18px; 
line-height: 18px;
text-align: justify;
} 

#main a {
color: #3b7687; 
text-decoration: none;
}

#main a:hover {
color: #444444;
}

#footer {
padding: 6px 40px 6px 40px;
background: #BC8F8F; 
font-family: "Lucida Sans Unicode";
color: #000000;
font-size: 11px;
text-align: right;
}

#footer a {
text-decoration: none; 
color: #262626;
}

#footer a:hover {
color: #666666;
}

.separator {
font-size:11px;
color:#FFFFFF;
}


